@page
@model DrPet.Web.Pages.Admin.Pets.EditModel

<h1>Állat szerkesztése</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <input type="hidden" asp-for="Pet.Id" />
            <input type="hidden" asp-for="Pet.PrevOwnerId" />

            <div class="form-group">
                <label asp-for="Pet.Name" class="control-label"></label>
                <input asp-for="Pet.Name" class="form-control" />
                <span asp-validation-for="Pet.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Pet.Birthdate" class="control-label"></label>
                <input asp-for="Pet.Birthdate" type="date" max="9999-12-31" class="form-control" />
                <span asp-validation-for="Pet.Birthdate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Pet.VarietyId" class="control-label"></label>
                <select asp-for="Pet.VarietyId" class="form-control" asp-items="Model.Varieties"></select>
            </div>

            <div class="form-group">
                <label asp-for="Pet.OwnerId" class="control-label"></label>
                <select asp-for="Pet.OwnerId" class="form-control" asp-items="Model.Owners"></select>
            </div>

            <div class="form-group">
                <label asp-for="Pet.Comment" class="control-label"></label>
                <textarea asp-for="Pet.Comment" class="form-control"></textarea>
                <span asp-validation-for="Pet.Comment" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Módosít" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Vissza az állatok listájához</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
