@model DrPet.Web.ViewComponents.DoctorCardViewComponent.DoctorCard

<div class="col-md-4">
    <img class="d-block w-100 mt-3 mb-3" src="~/img/@(Model.PhotoName).jpg" alt="@Model.DoctorName">
</div>

<div class="col-md-8">
    <div class="mt-4">
        <h5><a class="text-decoration-none text-dark" asp-area="" asp-page="/Consultings/Doctorsconsultings" asp-route-id="@Model.DoctorId">@Model.DoctorName</a></h5>
        <p>@Model.PublicDescription</p>
    </div>
</div>
